*{
	box-sizing: border-box;
	margin: 0px;
}

body
{
	background-color: #0678BF;
	color: white;
}


.main 
{
	display: flex;
	flex-direction: column;

}

.main .my-arts
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.main .my-art
{
	margin: 5px;
	background-color: #011140;
	width: 30%;
}

.main .my-art img{
	max-width: 40%;
}