{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} Blog{% endblock head_title %}</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
</head>
<body>


<section class="main">
	{% block content %}{% endblock content %}

</section>

</body>
</html>