{% extends "base.html" %}


{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}


<article class="detail">
	<h2>{{ object.title }}</h2>

	<p>{{ object.content }}</p>
	<p>{{ object.publish }}</p>


</article>



{% endblock content %}