{% extends "base.html" %}



{% block content %}
<div class="title">
		<h1>{{ title }}</h1>
		<hr>
</div>
<article class="my-arts">
{% for obj in object_list %}
	<div class="my-art">
		<h2>{{ obj.title }}</h2>
		    {% if obj.image %}
		    	<img src='{{ obj.image.url }}' />
		    {% endif %}
		<p>{{ obj.content }}</p>
		<p>{{ obj.publish }}</p>
	</div>
{% endfor %}
</article>

{% endblock content %}